<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.sore.utilities.ExtentListenerClass"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.store.testcases.TC_RegisterUser_DataDriven"/>
      <class name="com.store.testcases.tc_writeReview"/>
      <class name="com.store.testcases.orderPlace"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->


